[package]
edition = "2021"
name = "query"
version = "0.0.1"

[dependencies]
fast-hash-collection = { path = "../fast-hash-collection" }
dyn-clone = { workspace = true }
storage = { path = "../storage" }
serde = { workspace = true }
rendiation-abstract-tree = { path = "../abstract-tree" }

# we use it's rwlock to avoid recursive read deadlock
parking_lot = { workspace = true }

[lints]
workspace = true
